.container {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.italic {
  font-style: italic;
}

.icon {
  font-size: 12rem;
  font-style: normal;
  line-height: 100%;
}