.header {
  position: fixed;
  top: 0;
  display: grid;
  place-content: center;
  width: 100%;
  height: 3rem;
}

.title {
  margin: 0;
}

.italic {
  font-style: italic;
}

.content {
  padding-top: 3rem;
}